@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Bebas+Neue&family=Covered+By+Your+Grace&family=Merienda:wght@300..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Quintessential&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Bebas+Neue&family=Covered+By+Your+Grace&family=Merienda:wght@300..900&family=Oswald:wght@200..700&family=Quintessential&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    background-color: darkgray;
}

header { 
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: "Passion One", sans-serif;
    font-size: 4vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: "Quintessential", serif;
    font-weight: bold;
    font-size: 1.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.253);
   
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(66, 66, 66);
    color: white;
    box-shadow: inset 10px 10px 20px 0px rgba(0, 0, 0, 0.502);
    background-attachment: fixed;
}

section#img1 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img2 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}